body {
  text-align: center;
  height: 100vh;
}

#menu {
  background-color: #c1ffff;
  height: 95vh;
  overflow-y: hidden;
}
.btn-menu {
  background-color: transparent;
  border: none;
}
.btn-menu:hover {
  background-color: rgba(117, 190, 218, 0.5); /* 50% 不透過 */
}
#btnTodayTodo {
}
#header {
  height: 5vh;
  text-align: center;
}

#todoArea {
  text-align: center;
}
